@import "mixins";
@import "variables";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";


@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('/static/gen/fonts/glyphicons-halflings-regular.eot');
    src: url('/static/gen/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/static/gen/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/static/gen/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/static/gen/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

/* html tags styling */

body {
  font-family: 'Maven Pro', 'Helvetica', 'Arial', sans-serif;
}

@include selection {
  color: white;
  background: black;
}

/* Needed to avoid overflow and horizontal scroll of decorative svg */
.body-wrapper {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  z-index: 99;
}

.content-location {
  color: #fff;
  font-size: 23px;
  font-weight: 400;
}

/* Goole maps styling */
#map {
  height: 210px;
  width: 100%;
}

.map-container {
  border: 4px solid #6f60ea;
  border-radius: 5px;
}


/* Section backgrounds */
.header-content, .dark-section {
  background: #382092;
  background: -moz-radial-gradient(center, ellipse cover, #382092 0%, #430786 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #382092 0%, #430786 100%);
  background: radial-gradient(ellipse at center, #382092 0%, #430786 100%);
}

.light-section {
  background: #00dbcf;
  background: -moz-linear-gradient(-45deg, #00dbcf 0%, #6b59ef 100%);
  background: -webkit-linear-gradient(-45deg, #00dbcf 0%, #6b59ef 100%);
  background: linear-gradient(135deg, #00dbcf 0%, #6b59ef 100%);
}

.black-section {
  background: #111;
  background: -moz-radial-gradient(center, ellipse cover, #222 0%, #111 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #222 0%, #111 100%);
  background: radial-gradient(ellipse at center, #222 0%, #111 100%);
}

.header-content {
  .background-content {
    padding-top: 50px;

    &:after {
      /*background-attachment fixed*/
      mix-blend-mode: color-dodge;
      transform: rotate(-5deg);
    }

    &:before {
      /*background-attachment fixed*/
      mix-blend-mode: soft-light;
      transform: rotate(10deg);
    }
  }

  .logo-en {
    background: url("/static/images/logo_plain.svg") center center no-repeat;
    background-size: contain;
    height: 220px;
    margin: 0 auto 57px;
    width: 485px;
    width: 100%;
  }

  .logo-es {
    background: url("/static/images/logo_plain_es.svg") center center no-repeat;
    background-size: contain;
    height: 220px;
    margin: 0 auto 57px;
    width: 485px;
    width: 100%;
  }


}

footer-content {
  margin-top: 100px;
  margin-bottom: 50px;
  color: #fff;
  text-align: center;
}

/* Decoration vector images positioned globally */
.vector-img {
  mix-blend-mode: color-dodge;
  position: absolute;
  transform: scale(0.7, 0.7);
  z-index: 0;
}

.big-left {
  top: 350px;
  left: -250px;
}

.big-right {
  top: 200px;
  right: -250px;
}

.small-left {
  top: 900px;
  left: -270px;
}

.small-right {
  top: 900px;
  right: -270px;
}

.keynote-section {
  color: #382092;
}

/* Media queries */
@media screen and (max-width: 992px) {
  .vector-img {
    transform: scale(0.5, 0.5);
  }
}

@media screen and (max-width: 768px) {
  .vector-img {
    display: none;
  }
  
  .speaker-job {
    display: none;
  }
}

.header-content .date {
  color: #fff;
  font-size: 23px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 75px;
  text-align: center;
}

.social-icons-container {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #fff;
}

/* Icons */
.social-icon {
  background: center center no-repeat;
  background-size: contain;
  display: inline-block;
  height: 28px;
  margin: 0 10px;
  width: 28px;
}

.icon-twitter {
  background-image: url("/static/images/social-twitter.svg");
}

.icon-facebook {
  background-image: url("/static/images/social-facebook.svg");
}

.icon-instagram {
  background-image: url("/static/images/social-instagram.svg");
}

.icon-medium {
  background-image: url("/static/images/social-medium.svg");
}

.icon-github {
  background-image: url("/static/images/social-github.svg");
}

.icon-website {
  background-image: url("/static/images/social-website.svg");
}

.subscribe-content .background-content:after {
/*background-attachment fixed*/
  mix-blend-mode: color-dodge;
  transform: rotate(5deg);
}


.background-content:before {
/*background-attachment fixed*/
  mix-blend-mode: soft-light;
  transform: rotate(-10deg);
}

.section-title {
  color: #fff;
  font-size: 37px;
  font-weight: 400;
  margin: 0 auto 35px;
  text-align: center;
}

.section-title-light {
  color: #382092;
  font-size: 37px;
  font-weight: 400;
  margin: 0 auto 35px;
  text-align: center;
}


.form-container {
  margin: 0 auto;
  position: relative;
  text-align: center;
  z-index: 1;
}
.form-container .validation-message {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  position: absolute;
  top: -35px;
  width: 100%;
}
.form-container .validation-message.success-message {
  color: #fff;
}
.form-container .validation-message.error-message {
  color: #ff0;
}
.form-container .form-input {
  background: #fff;
  border: 10px;
  border-radius: 6px;
  color: #757575;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  height: 40px;
  padding: 0 17px;
  width: 100%;
}

.form-container .form-btn {
  background: #410d89;
  border-radius: 6px;
  box-shadow: none;
  font-size: 17px;
  font-weight: 400;
  height: 40px;
  margin: 0 7px;
  text-transform: none;
  width: 133px;
  width: 100%;  
  vertical-align: top;
}

.mc-field-group {
    display: inline-block;
}
input.mce_inline_error{
    color: #e85c41 !important;
    border: 2px solid #e85c41 !important;
}
div.mce_inline_error{
    color: #e85c41  !important;
    background-color: inherit !important;
}
.form-container .validation-message{
    position: relative !important;
    top: 5px !important;
    width: 50% !important;
    margin: 0 auto;
}


input {
  outline: none;
}


.section-container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.stars {
  overflow: hidden;
  position: relative;
}

.stars:after,
.stars:before {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99;
}


.stars:after {
  background-image: url("/static/images/plus-background-blue.svg");
  mix-blend-mode: color-dodge;
  transform: rotate(-5deg);
}
.stars:before {
  background-image: url("/images/plus-background-white.svg");
  mix-blend-mode: color-dodge;
  transform: rotate(10deg);
}


/* Speakers */
$default-transition-duration: 0.5s;

.speaker {
  position: relative; 
  max-width: 324px;
  height: auto;
  margin: 20px;
  display: table;
  margin-left: auto;
  margin-right: auto;
  @include transition-duration($default-transition-duration);

  p {
    padding-top: 10px;
    font-size: 1.5em;
  }

  &:hover {
    @include transition-duration($default-transition-duration);
  }
}

.speaker-image {
  @extend .img-circle;
  border: 4px solid #2bb6da;
  position: relative; 
  display: block;
  max-width: 100%;
  height: auto;
  @include filter-grayscale(100%)
  @include transition-duration($default-transition-duration);

  &:hover {
    border: 4px solid #400e89;
    @include transition-duration($default-transition-duration);
    @include filter-grayscale(0%)
  }
}

.hovered {
  @include transition-duration($default-transition-duration);
  @include filter-grayscale(0%)
}


.speaker-social {
  position: absolute; 
  bottom: 100px;
  width: 100%; 
  text-align: center;

}

.speaker-details {
  color:#fff;
  position: relative;
  text-shadow: 0.1em 0.1em 0.2em black;
  width: 100%; 
  magin: auto;
  text-align: center;
  pointer-events:none;
}


.mini-logo {
  background: url("/static/images/logo-mini.svg") center center no-repeat;
  background-size: contain;
  height: 80px;
  width: 80px;
  display: table;
  margin:auto;
}

.transparent-background{
  border: 2px solid #fff;
  border-radius: 25px;
  background-color: rgba(255,255,255,0.7);
  color: #410d89;
  padding: 2%;
}

.speaker-btn{
  @extend .transparent-background;
  font-size: 3em;
  text-align: center;
  a {
    color: #410d89;
    text-decoration:none;
      &:hover {
        color: #00dbcf;
      }
  }
}
/* Sponsors carousel */
.carousel-inner { margin: auto; width: 90%; }
.carousel-control 	 { width:  4%; }
.carousel-control.left,
.carousel-control.right {
  background-image:none;
}
 
.glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
  margin-top:-10px;
  margin-left: -10px;
  color: #444;
}

.carousel-inner {
  div {
    a {
      display:table;
      height: 180px;
      width: 200px;
      vertical-align: middle;
      @include filter-grayscale(100%)
      @include transition-duration($default-transition-duration);
  
      &:hover {
        @include transition-duration($default-transition-duration);
        @include filter-grayscale(0%)
      }
    
      div {
        display:table-cell;
        height:100%;
        vertical-align: middle;

        img {
          max-height: 150px;
          margin: auto auto;
          max-width: 80%;
        }
      }
    }
  }
}

.center-sponsor {
    margin:auto;
    width:200px;
}

@media (max-width: 767px) {

.section-venue {
  text-align:center;
}

  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
//      left: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
      left: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
  }

}
@media (min-width: 767px) and (max-width: 992px ) {

.banner-image {
    max-height: 400px;
}

.section-venue {
  text-align:center;
}
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
      left: 0;
      -webkit-transform: translate3d(50%, 0, 0);
      transform: translate3d(50%, 0, 0);
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
      left: 0;
      -webkit-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0);
  }
}
@media (min-width: 992px ) {
  
  
  .banner-image {
    max-height: 500px;
}

  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
      left: 0;
      -webkit-transform: translate3d(25%, 0, 0);
      transform: translate3d(25%, 0, 0);
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
      left: 0;
      -webkit-transform: translate3d(-25%, 0, 0);
      transform: translate3d(-25%, 0, 0);
  }
  
}



.banner {
    overflow: hidden;
    position: relative;
    margin: 0 -30px;
}

.banner img {
    position: relative;
    margin: -10% auto;/* virtualy height needed turn don to zero */
    width: 100%;
    height:auto;
    vertical-align:middle;
    mix-blend-mode: luminosity;
}

.banner-image {
    display:block;
    overflow:hidden;
}

.banner-text {
  color:#fff;
  position: absolute; 
  text-shadow: 0.1em 0.1em 0.2em black;
  bottom: 60px;
  left: 0; 
  width: 100%; 
  magin: auto;
  text-align: center;
  pointer-events:none;
}
