{%- from "/macros/translation.html" import transbag -%}

{%- macro render_schedule() -%}

  {% set dates = [] %}
  {% for i in range((this.date_end - this.date_start).days + 1) %}
    {% set a = this.date_start.fromordinal(this.date_start.toordinal() + i) %}
    {% if dates.insert(i,a) %}{% endif %}
  {% endfor %}

  {%- set talks_per_date_per_time = OrderedDict() -%}
  {%- set rooms_per_date = OrderedDict() -%}

  {%- for date in dates -%}
    {# Complex expressions doent work in filter() so date should be converted to datetime #}
    {%- set start = this.datetime.combine(date, this.datetime.min.time().replace(tzinfo=this.datetime.tzinfo)) -%}
    {%- set end = this.datetime.combine(date, this.datetime.max.time().replace(tzinfo=this.datetime.tzinfo)) -%}
    {%- set talks = site.query('/talks', alt=this.alt).filter(F.datetime >= start).filter(F.datetime_end <= end).order_by('datetime', '+room') -%}

    {%- set x = talks_per_date_per_time.__setitem__(date, OrderedDict()) -%}
    {%- set x = rooms_per_date.__setitem__(date, []) -%}

    {%- for talk in talks -%}
      {%- set time = talk.datetime.strftime('%H:%M') -%}
      {%- if time in talks_per_date_per_time[date] -%}
        {%- set x = talks_per_date_per_time[date][time].append(talk) -%}
      {% else %}
        {%- set x = talks_per_date_per_time[date].__setitem__(time, [talk]) -%}
      {% endif %}

      {%- if talk.room not in rooms_per_date[date] -%}
        {%- set x = rooms_per_date[date].append(talk.room) -%}
      {% endif %}

    {% endfor %}
  {% endfor %}




  <!-- Nav tabs -->
  <div class="row justify-content-center">
    <div class="col-lg-8">

<ul class="nav nav-fill nav-schedule" role="tablist" id="schedule-tabs">
{% for date in dates %}
  <li class="nav-item{% if loop.index == 1 %} active{% endif %}">
    <a class="nav-link" data-toggle="pill" href="#tab-{{ date }}" aria-controls="tab-{{ date }}" role="tab">
    {{- date.strftime('%A %d') }}th</a> {#- Friday 9th #}
  </li>
{%- endfor %}
</ul>

  </div>
  </div>

  <!-- Tab panes -->
  <div class="tab-content text-center">
  {%- for date, talks_per_time in talks_per_date_per_time.items() -%}
    <div class="tab-pane {% if loop.index == 1 %}active{% endif %}" id="tab-{{ date }}" role="tabpanel">
        <br>
        <h1>Talks</h1>
        <br>
        <div class="row">
          <div class="col-1">
          </div>
          <div class="col-11">
            <div class="row">
              {%- for room in rooms_per_date[date] -%}
              <div class="col-{{ 12//rooms_per_date[date]|length }}">
                {%- set r = site.get('/rooms/' + room, alt=this.alt) -%}
                <p><b>{{ r.name }}</b></p>
              </div>
              {%- endfor -%}
            </div>
          </div>
        </div>

      {%- for time, talks in talks_per_time.items() -%}
        <div class="row align-items-center">
          <div class="col-1">
            <span class="align-middle">{{ time.split(':')[0] }}:<small>{{ time.split(':')[1] }}</small></span>
          </div>
          <div class="col-11">
            <div class="row">
              {%- for talk in talks -%}
              {%- set room = site.get('/rooms/' + talk.room) -%}
              <div class="col-{{ 12//talks|length }}">
                {%- if talk.type in ['break', 'lunch_break'] -%}
                  <div style="font-size:1.5em;padding:20px;margin:0px;background:#c0e5f3;border-radius:15px;border-color:white;border-width:2px;border-style:solid;">
                  <span style="color:#3e1c88;"><i class="fa fa-coffee" aria-hidden="true"></i> <b>{{talk.name}}</b></span>
                  </div>
                {%- elif talk.type == 'keynote' -%}
                <div style="padding:20px;margin:10px;background:#c5bcdc;border-radius:15px;border-color:white;border-width:2px;border-style:solid;">
                  <span style="font-size:2em;color:#3e1c88;"><i class="fa fa-user-circle-o" aria-hidden="true"></i> <b>Keynote <small>({{ room.name }})</small></b><br>
                  <span>
                  {%- for author in talk.authors -%}
                    {%- set current_author = site.get('/speakers/'+author, alt=this.alt) -%}
                    {%- set t_country = transbag('translate', this.alt, current_author.country) -%}
                    <a class="link" style="color:#3e1c88;" href="{{current_author|url(alt=this.alt)}}">{{ current_author.name.split(' ')[0] }} {{ current_author.last_name.split(' ')[0] }}{%- if current_author.country -%}&nbsp;<small>({{ t_country }})</small>{% endif %}</a>{% if not loop.last %},&nbsp{% endif %}
                  {%- endfor -%}
                </div>
                {%- elif talk.type in ['opening', 'closing'] -%}
                <div style="padding:20px;margin:0px;background:#c0e5f3;border-radius:15px;border-color:white;border-width:2px;border-style:solid;">
                  <span style="font-size:1.5em;color:#3e1c88;"><i class="fa fa-power-off" aria-hidden="true"></i> <b>{{talk.name}} <small>({{ room.name }})</small></b></span><br>
                  {%- for author in talk.authors -%}
                    {%- set current_author = site.get('/speakers/'+author, alt=this.alt) -%}
                    {%- set t_country = transbag('translate', this.alt, current_author.country) -%}
                     <a class="link" style="color:#3e1c88;" href="{{current_author|url(alt=this.alt)}}">{{ current_author.name.split(' ')[0] }} {{ current_author.last_name.split(' ')[0] }}{%- if current_author.country -%}&nbsp;<small>({{ t_country }})</small>{% endif %}</a>{% if not loop.last %},&nbsp{% endif %}
                  {%- endfor -%}
                </div>
                {%- else -%}
                  <div style="margin:10px;">
                  <span class="text-left">
                  {%- for author in talk.authors -%}
                    {%- set current_author = site.get('/speakers/'+author, alt=this.alt) -%}
                    {%- set t_country = transbag('translate', this.alt, current_author.country) -%}
                     <a class="link" href="{{current_author|url(alt=this.alt)}}">{{ current_author.name.split(' ')[0] }} {{ current_author.last_name.split(' ')[0] }}{%- if current_author.country -%}&nbsp;<small>({{ t_country }})</small>{% endif %}</a>{% if not loop.last %},&nbsp{% endif %}
                  {%- endfor -%}
                  </span>
                  <br>
                  <span class="text-left"><small>{{talk.name}}</small></span>
                  </div>
                {%- endif -%}
              </div>

              {%- endfor -%}
            </div>          
          </div>
        </div>
      {%- endfor -%}
    </div>
  {%- endfor -%}
  </div><!-- End Tab panes -->
{%- endmacro -%}

{{ render_schedule() }} 

{#}, '2018-02-10', '2018-02-11']) }}#}



{#

      {%- for talk in talks.order_by('datetime', '-room') -%}
        {%- set time = talk.datetime -%}
        {%- set time_end = talk.datetime_end.strftime('%H:%M') -%}
        {%- set authors = talk.authors -%}
        {%- set talks_same_time = site.query('/talks', alt=this.alt).filter(F.datetime >= start).filter(F.datetime_end <= end).filter(F.datetime == talk.datetime) -%}

        <div class="col-8">
          <div class="row">
            <div class="col-2">
        <span class="hour">{{- talk.datetime.strftime('%H') -}}</span>:
        <span class="minutes">{{- talk.datetime.strftime('%M') -}}
        </span>
            </div>
            <div class="col-10">
              {%- if talk.room -%}
              {%- set room = site.get('/rooms/' + talk.room).name -%}
              <p class="text-left">{{ room }}</p>
              {%- endif -%}

              {%- if talk.authors -%}
              <p class="text-left">
              {%- for author in talk.authors -%}
                {%- set current_author = site.get('/speakers/'+author, alt=this.alt) -%}
                {%- set t_country = transbag('translate', this.alt, current_author.country) -%}
                <a class="link" href="{{current_author|url(alt=this.alt)}}">{{ current_author.name.split(' ')[0] }} {{ current_author.last_name.split(' ')[0] }}{%- if current_author.country -%}&nbsp;<small>({{ t_country }})</small>{% endif %}</a>{% if not loop.last %},&nbsp{% endif %}
              {%- endfor -%}
              </p>
              {%- endif -%}
              <p class="text-left"><a class="" href="{{talk|url(alt=this.alt)}}">{{ talk.name }}</a></p>
            </div>
          </div>
              <hr>
        </div>
      {%- endfor -%}

#}