{%- from "/macros/translation.html" import transbag -%}
{%- set t_sponsors = transbag('translate', this.alt, 'sponsors') -%}
{%- set t_sponsor_text = transbag('translate', this.alt, 'sponsor_text') -%}
{%- set t_apply_sponsor = transbag('translate', this.alt, 'apply_sponsor') -%}
{% set sponsors = site.query('/sponsors', alt=this.alt) %}
<h1 class="text-center" style="color:white;">{{ t_sponsors }}</h1>
<div class="row">
  <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-offset-0 col-xs-12">
    <h3 class="text-center" >{{ t_sponsor_text }}</h3>
  </div>
</div>
<div class="container"/>
  <div class="carousel slide" data-ride="carousel" data-type="multi" data-interval="3000" id="sponsors-carousel">
    <div class="carousel-inner">
      {% for i in range(2) %}
      {% for sponsor in sponsors %}
        {% if sponsor.confirmed %}
      <div class="item{% if loop.index == 1 and i == 0 %} active{% endif %}">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="center-sponsor">
            <a href="{{ sponsor.web }}" target="blank">
              <div>
                <img src="/sponsors/{{ sponsor._id }}/{{ sponsor.image }}" class="img-responsive">
              </div>
            </a>
          </div>
        </div>
      </div>
        {% endif %}
      {% endfor %}
      {% endfor %}
    </div>
    <a class="left carousel-control" href="#sponsors-carousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
    <a class="right carousel-control" href="#sponsors-carousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
  </div>
</div>
<br />
<br />
<br />
<br />
<div class="row">
  <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-1 col-xs-10">
    <div class="row">
      <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-offset-0 col-xs-12">
        <a href="{{ '/sponsors'|url(alt=this.alt) }}" class="btn btn-success btn-lg btn-block     center-block">
          {{ t_apply_sponsor }}!
        </a>
      </div>
    </div>
  </div>
</div>