{% macro render_speaker(speaker, index) %}
  <div class="speaker">
    <img class="speaker-image" id="speaker-image-link-{{ index }}" src=
    {%- if speaker.image -%}
      "/speakers/{{ speaker._id }}/{{ speaker.image }}"
    {%- else -%}
      "/static/images/empty-photo.svg"
    {%- endif -%}
     />
    <div id="link-{{ index }}" class="speaker-social">
      <a id="link-{{ index }}" class="social-hover" href="https://www.twitter.com/{{ speaker.twitter_handle }}" target="blank"><div class="social-icon icon-twitter"></div></a>
      <a id="link-{{ index }}" class="social-hover" href="{{ speaker.web }}" target="blank"><div class="social-icon icon-website"></div></a>
      <a id="link-{{ index }}" class="social-hover" href="https://www.github.com/{{ speaker.github_handle }}" target="blank"><div class="social-icon icon-github"></div></a>
    </div>
    <div class="speaker-details">
      <p>{{ speaker.name }} {{ speaker.last_name }}</p>
      <div class="speaker-job">
        {% if speaker.display_summary %}
        <h5>{{ speaker.summary }}</h5>
        {% else%}
        <h5>{{ speaker.position }} {{ t_speaker_at }} {{ speaker.employer }}</h5>
        {% endif %}
      </div>
    </div>
  </div>
{% endmacro %}
