<!-- Begin MailChimp Signup Form -->

<div id="mc_embed_signup" class="background-content">
    <h2 class="title">Subscribe to to our newsletter</h2>
    <div class="form-container">
        <form action="//pyconcolombia.us13.list-manage.com/subscribe/post?u=948458ca54a966497e7ca6602&amp;id=7bd820999b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
            <div class="mc-field-group">
                <input type="email" value="" name="EMAIL" class="required email form-input" id="mce-EMAIL" placeholder="Email">
            </div>
            <div class="mc-field-group">
                <select name="group[10770]" class="REQ_CSS form-input" id="mce-group[10770]" required>
                    <option value="" disabled selected hidden>Topic of interest</option>
                    <option value="1">Web Development(Django, Flask)</option>
                    <option value="2">Scientific Computing (Numpy, Pandas)</option>
                    <option value="4">Artificial Intelligence (ML, DL)</option>
                    <option value="8">Internet of Things (Micropython)</option>
                </select>
            </div>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_948458ca54a966497e7ca6602_7bd820999b" tabindex="-1" value=""></div>
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent form-btn">
            </div>
        </form>
        <div id="mce-responses" class="clear">
            <div class="response validation-message success-message" id="mce-error-response" style="display:none"></div>
            <div class="response validation-message error-message" id="mce-success-response" style="display:none"></div>
        </div>
    </div>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
