{%- from "macros/translation.html" import transbag -%}
{%- from "macros/speakers.html" import render_speaker -%}
{%- set t_keynote_speakers = transbag('translate', this.alt, 'keynote_speakers') -%}
{%- set t_venue_location = transbag('translate', this.alt, 'venue_location') -%}
{%- set t_speakers_workshops = transbag('translate', this.alt, 'speakers_workshops') -%}
{%- set t_tell_us = transbag('translate', this.alt, 'tell_us') -%}
{%- set t_we_know = transbag('translate', this.alt, 'we_know') -%}
{%- set t_what_speakers = transbag('translate', this.alt, 'what_speakers') -%}
{%- set t_speakers_1 = transbag('translate', this.alt, 'speakers_1') -%}
{%- set t_speakers_2 = transbag('translate', this.alt, 'speakers_2') -%}
{%- set t_speakers_3 = transbag('translate', this.alt, 'speakers_3') -%}
{%- set t_speakers_4 = transbag('translate', this.alt, 'speakers_4') -%}
{%- set t_speakers_5 = transbag('translate', this.alt, 'speakers_5') -%}
{%- set t_apply_talk = transbag('translate', this.alt, 'apply_talk') -%}
{%- set t_apply_workshop = transbag('translate', this.alt, 'apply_workshop') -%}
{%- set t_accepted_speakers_title = transbag('translate', this.alt, 'accepted_speakers_title') -%}
{%- set t_accepted_speakers_button = transbag('translate', this.alt, 'accepted_speakers_button') -%}
{%- set t_more_info = transbag('translate', this.alt, 'more_info') -%}
{%- set t_count_weeks = transbag('translate', this.alt, 'count_weeks') -%}
{%- set t_count_days = transbag('translate', this.alt, 'count_days') -%}
{%- set t_count_hours = transbag('translate', this.alt, 'count_hours') -%}
{%- set t_count_minutes = transbag('translate', this.alt, 'count_minutes') -%}
{%- set t_count_seconds = transbag('translate', this.alt, 'count_seconds') -%}
{%- set t_tickets_available = transbag('translate', this.alt, 'tickets_available') -%}
{%- set event = site.get('/venue', alt=this.alt) -%}

{% extends "layout.html" %}

        {% block banner_text %}
        <div class="section-container-main stars">
          <div class="row">
            <div class="col-12">
              <div class="logo-{{ this.alt }}"></div>
            </div>
            <div class="col-12">
              <div class="date">{{ t_place }}<br>{{ t_date }}</div>
            </div>
            {% if 'tickets' in this.sections %}
            <div hidden class="col-12 ticket-wrapper" id="ticket-div">
              <div class="atom"></div>
              <a href="{{ this.tickets_link }}" title="{{ t_ticket_text }}" target="blank"><div class="ticket ticket-{{ this.alt }}"></div></a>
              <div class="atom"></div>
              </div>
            <div class="col-12 text-center" id="countdown-div">
              <h2>{{ t_tickets_available }}</h2>
              <br>
              <div class="main-example">
                <div class="countdown-container" id="main-example"></div>
                <br>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
        {% endblock %}

{% block content %}
    {% if 'speakers-call' in this.sections %}
      <!-- Speakers & Workshops Section -->
      <div class="container-fluid light-section">
        <div class="section-container">        
          <div class="row">          
            <div class="col-md-6 col-sm-8 col-xs-10 mx-auto">
              <h1 class="section-title">{{ t_speakers_workshops }}</h1>
              <div class="transparent-background">
                <h2 class="text-center">{{ t_tell_us }}</h2>
                <p class="text-center">{{ t_we_know }}</p>
              </div>
              <div class="mini-logo"></div>
              <div class="transparent-background">
                <h2 class="text-center">{{ t_what_speakers }}</h2>
                <div class="row">
                  <div class="col-md-6">
                    <ul class="list-check">
                      <li>{{ t_speakers_1 }}</li>
                      <li>{{ t_speakers_5 }}</li>
                    </ul>
                  </div>
                  <div class="col-md-6">
                    <ul class="list-check">
                      <li>{{ t_speakers_4 }}</li>
                      <li>{{ t_speakers_2 }}</li>
                    </ul>
                  </div>
                </div>
              </div>
              <br />
              <div class="row">  
                <div class="col-md-6">
                  <div class="mini-logo"></div>
                  <div class="talk-btn">
                    <a href="https://www.papercall.io/pycon-colombia-2018">
                      <p></p>
                      <i class="fa fa-id-badge fa-lg"></i>
                      <div>
                        <p></p>
                        {{ t_apply_talk }}
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mini-logo"></div>
                  <div class="talk-btn">
                    <a href="https://www.papercall.io/pycon-colombia-2018-workshops">
                      <p></p>
                      <i class="fa fa-wrench fa-lg"></i>
                      <div>
                        <p></p>
                        {{ t_apply_workshop }}
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}

      <!-- Keynote Speakers Section -->
      <div class="container-fluid keynote-section">
        <div class="section-container">        
          <div class="row">
        <div class="container">
              {% set speakers = site.query('/speakers', alt=this.alt).filter(F.keynote).filter(F.publish) %}
              {%- set items_per_row = 3 -%}
              {%- set grid_max_cols = 12 -%}
              {%- set last_row_items = speakers.count() % items_per_row -%}
              <h1 class="section-title-light">{{ t_keynote_speakers }}</h1>
              <div class="row">            
                {% for speaker in speakers %}
                {%- set row = ((loop.index - 1)/items_per_row)|int -%}
                {# Only affect the first item of the last row #}
                {% if last_row_items and loop.index > speakers.count() - last_row_items %}
                {%   if last_row_items == 1 %}
                <div class="col-md-3 col-lg-4">
                {# empty column #}
                </div>
                {%   else %}
                <div class="col-md-0 col-lg-2">
                {# empty column #}
                </div>  
                {%   endif %}
                {% endif %}
                <div class="col-md-6 col-lg-4">
                  {{ render_speaker(speaker, loop.index) }}
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          {% if 'link-accepted-speakers' in this.sections %}
          <div class="row accepted-speakers">
            <div class="col-md-6 col-sm-8 col-xs-10 mx-auto text-center">
              <h1 class="section-title-light">{{ t_accepted_speakers_title }}</h1>

              <a href="{{ this.accepted_speakers_link }}" target="blank" class="btn btn-success btn-lg centerer-block text">
                    {{ t_accepted_speakers_button }}
              </a>
            </div>
          </div>
          {% endif %}
        </div>
        </div>
      </div>

      <!-- Sponsors Section -->
      <div class="container-fluid light-section">
        <div class="section-container">        
          {% include 'partials/_sponsors.html' %}
        </div>
      </div>

    {% if 'schedule' in this.sections %}
      <!-- Schedule Section -->
      <div class="container-fluid light-section">
        <div class="section-container">
          <div class="row">
            <div class="col-md-6 col-xs-10 mx-auto">
              {% include 'partials/_schedule.html' %}
            </div>
          </div>
        </div>
      </div>
    {% endif %}

      <!-- Location Section -->
      <div class="container-fluid dark-section">
        <div class="section-container">
          <div class="row">
            <div class="col-md-6 col-sm-8 col-xs-10 mx-auto">
              <div class="row">
                <div class="col-md-12">
                    <h1 class="section-title">{{ t_venue_location }}</h1>
                </div>
                <div class="col-md-6 section-venue">
                    <br>
                    <h2>{{ event.name }}</h2>
                    <p>{{ event.rooms }}</p>
                    <br>
                    <h4>{{ event.address }}</h4>
                    <p>{{ event.location }}</p>
                    <br>
                </div>
                <div class="col-md-6">
                  <br>
                  <div class="map-container">
                    <div id="map">
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-8 col-xs-10 mx-auto">
                  <br />
                  <br />
                  <br />
                  <br />
                  <a href="{{ '/venue'|url(alt=this.alt) }}" class="btn btn-secondary btn-lg btn-block center-block">
                    {{ t_more_info }}
                  </a>
                </div>
              </div>
              <br />
              <br />
            </div>
          </div>
        </div>
      </div>

      <!-- Subscribe Section -->
      <div class="container-fluid light-section">
        <div class="section-container">
          <div class="row">
            <div class="col-md-6 col-sm-8 col-xs-10 mx-auto">
              {% include 'partials/_mailchimp.html' %}
            </div>
          </div>
        </div>
      </div>
    {% endblock %}      

    {% block footer_scripts %}
    <script>
      function initMap() {
        var eafit = {lat: {{ event.latitude }}, lng: {{ event.longitude }} };
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: eafit,
          zoomControl: true,
          mapTypeControl: false,
          scaleControl: false,
          streetViewControl: false,
          rotateControl: false,
          fullscreenControl: false,
        });
        var marker = new google.maps.Marker({
          position: eafit,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZ9l3uCiqVBn6egBt-aJQGbBaVRQDuGNA&callback=initMap">
    </script>

    <script>
    $( "div.speaker-social" ).hover(
      function() {
        $("#speaker-image-" + this.id).toggleClass("hovered");
      },
      function() {
        $("#speaker-image-" + this.id).toggleClass("hovered");
      }
    );
    </script>
    

   <script>
$( document ).ready(function() {
    var heights = $(".adjust-height").map(function() {
        return $(this).height();
    }).get(),

    maxHeight = Math.max.apply(null, heights);

    $(".adjust-height").height(maxHeight);
});
    </script>

    <script>
$('.carousel[data-type="multi"] .item').each(function(){
  var next = $(this).next();
  if (!next.length) {
    next = $(this).siblings(':first');
  }
  next.children(':first-child').clone().appendTo($(this));

  for (var i=0;i<2;i++) {
    next=next.next();
    if (!next.length) {
    	next = $(this).siblings(':first');
  	}
    
    next.children(':first-child').clone().appendTo($(this));
  }
});
</script>

<script type="text/template" id="main-example-template">
<div class="time <%= label %>">
  <span class="count curr top"><%= curr %></span>
  <span class="count next top"><%= next %></span>
  <span class="count next bottom"><%= next %></span>
  <span class="count curr bottom"><%= curr %></span>
  <span class="label"><%= label.length < 6 ? label : label.substr(0, 3)  %></span>
</div>
</script>
<script type="text/javascript">
  $(window).on('load', function() {
    var labels = ['{{ t_count_days }}', '{{ t_count_hours }}', '{{ t_count_minutes }}', '{{ t_count_seconds }}'],
      nextYear = moment.tz("2017-11-19 20:00", "America/Bogota");
      template = _.template($('#main-example-template').html()),
      currDate = '00:00:00:00:00',
      nextDate = '00:00:00:00:00',
      parser = /([0-9]{2})/gi,
      $example = $('#main-example');
    // Parse countdown string to an object
    function strfobj(str) {
      var parsed = str.match(parser),
        obj = {};
      labels.forEach(function(label, i) {
        obj[label] = parsed[i]
      });
      return obj;
    }
    // Return the time components that diffs
    function diff(obj1, obj2) {
      var diff = [];
      labels.forEach(function(key) {
        if (obj1[key] !== obj2[key]) {
          diff.push(key);
        }
      });
      return diff;
    }
    // Build the layout
    var initData = strfobj(currDate);
    labels.forEach(function(label, i) {
      $example.append(template({
        curr: initData[label],
        next: initData[label],
        label: label
      }));
    });
    // Starts the countdown
    $example.countdown(nextYear.toDate(), function(event) {
      var newDate = event.strftime('%d:%H:%M:%S'),
        data;
      if (newDate !== nextDate) {
        currDate = nextDate;
        nextDate = newDate;
        // Setup the data
        data = {
          'curr': strfobj(currDate),
          'next': strfobj(nextDate)
        };
        // Apply the new values to each node that changed
        diff(data.curr, data.next).forEach(function(label) {
          var selector = '.%s'.replace(/%s/, label),
              $node = $example.find(selector);
          // Update the node
          $node.removeClass('flip');
          $node.find('.curr').text(data.curr[label]);
          $node.find('.next').text(data.next[label]);
          // Wait for a repaint to then flip
          _.delay(function($node) {
            $node.addClass('flip');
          }, 50, $node);
        });
      }
    });
  });
  $(window).on('finish.countdown', function(event) {
    $('#countdown-div').attr('hidden', true);
    $('#ticket-div').attr('hidden', false);
  });
</script>
{% endblock %}
   
