{% from "macros/translation.html" import transbag %}
{% set t_place = transbag('translate', this.alt, 'place') %}
{% set t_date = transbag('translate', this.alt, 'date') %}
{% set t_description = transbag('translate', this.alt, 'description') %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="{{ t_description }}">
    <meta property="og:site_name" content="PyCon Colombia"/>
    <meta property="og:title" content="PyCon Colombia | {{ t_date }} | {{ t_place }}"/>
    <meta property="og:description"content="{{ t_description }}"/>
    <meta property="og:image" content="https://www.pycon.co/static/images/opimage.png">
    <meta property="og:url" content="https://www.pycon.co/">
    <meta property="og:type" content="website"/>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@pyconcolombia">
    <meta name="twitter:title" content="PyCon Colombia | {{ t_date }} | {{ t_place }}">
    <meta name="twitter:description" content="{{ t_description }}">
    <meta name="twitter:image" content="https://www.pycon.co/static/images/opimage.png">

    <title>PyCon Colombia | {{ t_date }} | {{ t_place }}</title>

    <link rel="apple-touch-icon" sizes="57x57" href="/static/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/favicon/android-icon-192x192.png">
    <link rel="manifest" href="/static/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- CSS -->
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/styles.css">

    <!-- Javascript -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
      $(document).ready(function() {
      });
    </script>

    <!-- Google analytics -->
    {% include '_googleanalytics.html' %}
  </head>
  <body>
    <div class="container-fluid header-content">
      <div class="background-content">
        <div class="row">
          <div class="col-md-12">
            <div class="logo"></div>
            <div class="date">{{ t_place }}<br>{{ t_date }}</div>
          </div>
          <div class="col-md-12">
            <div class="social-icons-container">
              <a href="https://www.twitter.com/pyconcolombia" target="blank"><div class="social-icon social-twitter"></div></a>
              <a href="https://www.facebook.com/pyconcolombia" target="blank"><div class="social-icon social-facebook"></div></a>
              <!--<a href="https://www.twitter.com/pyconcolombia"><div class="social-icon social-instagram"></div></a>-->
              <a href="https://www.medium.com/@pyconcolombia" target="blank"><div class="social-icon social-medium"></div></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid subscribe-content">
      <div class="background-content">
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
            {% include '_mailchimp.html' %}
          </div>
        </div>
      </div>
    </div>
    <img class="hidden" src="/static/images/opimage.jpg" />
  </body>
</html>
