{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block banner_text %}
<div class="container-fluid">
  <div class="banner">
    <div class="banner-image">
      <img src="/{{ this._id }}/{{ this.banner }}" class="banner"/>
      <div class="banner-text">
        <h1>{{ this.title }}</h1>
      </div>
  </div>
  </div>
</div>
{% endblock %}

{% block content %}
      <div class="container-fluid light-section">
        <div class="section-container">
          <div class="container">
            {% block body %}
              {{ this.body }}
            {% endblock %}
          </div>
        </div>
      </div>

{% endblock %}
