{%- from "macros/speakers.html" import render_speaker -%}
{%- from "macros/translation.html" import transbag -%}
{%- set t_keynote_speakers = transbag('translate', this.alt, 'keynote_speakers') -%}
{%- set t_speakers = transbag('translate', this.alt, 'speakers') -%}
{% extends "page.html" %}
{%- set t_accepted_speakers_button = transbag('translate', this.alt, 'accepted_speakers_button') -%}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  {% set speakers = site.query('/speakers', alt=this.alt).filter(F.keynote).filter(F.publish) %}
  <h1 class="section-title-light">{{ t_keynote_speakers }}</h1>
  <div class="row">
    {% for speaker in speakers %}
    <div class="col-12 col-sm-6 col-lg-4">
      {{ render_speaker(speaker, loop.index) }}
    </div>
    {% endfor %}
  </div>
  {% set speakers = site.query('/speakers', alt=this.alt).filter(F.keynote != True).filter(F.publish) %}
  <h1 class="section-title-light">{{ t_speakers }}</h1>
  <div class="row">
    {% if speakers %}
    {% for speaker in speakers %}
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      {{ render_speaker(speaker, loop.index) }}
    </div>
    {% endfor %}
    {% else %}
    <div class="col mx-auto text-center">
      <a href="{{ site.get('/', alt=this.alt).accepted_speakers_link }}" target="blank" class="btn btn-success btn-lg centerer-block text">
        {{ t_accepted_speakers_button }}
      </a>
    </div>
    {% endif %}
  </div>
{% endblock %}
