{%- from "macros/speakers.html" import render_speaker -%}
{%- from "macros/speakers.html" import render_speaker_info -%}
{%- from "macros/speakers.html" import render_speaker_social -%}

{% extends "page.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block banner_text %}
{% endblock %}
{% block body %}
<div class="row">
    <div class="speaker-details">
      <h1>{{ this.name }} {{ this.last_name }}</h1>
      <div class="speaker-job">
        {% if this.display_summary %}
        <h2>{{ this.summary }}</h2>
        {% else%}
        <h2>{{ this.position }} {{ t_speaker_at }} {{ this.employer }}</h2>
        {% endif %}
      </div>
      <h3 class="speaker-country">
        {{ this.country }}
      </h3>
      {% if this.keynote %}
        <h3 class="text-keynote-speaker">Keynote Speaker</h3>
      {% endif %}
    </div>
  <div class="col-sm-12 col-md-5">
    {{ render_speaker(this, details=False) }}
    {{ render_speaker_social(this, floating=False) }}
  </div>
  <div class="col-sm-12 col-md-7">
    <div claass="speaker-info">
      {{ this.information }}
    </div>
  </div>
</div>
{% endblock %}