{% extends "page.html" %}
{%- from "macros/speakers.html" import render_speaker -%}
{%- from "macros/translation.html" import transbag -%}

{%- set t_keynote_speakers = transbag('translate', this.alt, 'keynote_speakers') -%}
{%- set t_speakers = transbag('translate', this.alt, 'speakers') -%}
{%- set t_accepted_speakers_button = transbag('translate', this.alt, 'accepted_speakers_button') -%}

{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  {% set speakers = site.query('/speakers', alt=this.alt).filter(F.keynote).filter(F.publish).order_by('_id') %}
  <h1 class="section-title-light">{{ t_keynote_speakers }} ({{ speakers.count()}})</h1>
  <div class="row">
    {%- set items_per_row = 3 -%}
    {%- set grid_max_cols = 12 -%}
    {%- set last_row_items = speakers.count() % items_per_row -%}
    {% for speaker in speakers %}
    {%-  set row = ((loop.index - 1)/items_per_row)|int -%}
    {# Only affect the first item of the last row #}
    {%   if last_row_items and loop.index > speakers.count() - last_row_items %}
    {%     if last_row_items == 1 %}
    <div class="col-md-3 col-lg-4">
    {# empty column #}
    </div>
    {%     else %}
    <div class="col-md-0 col-lg-2">
    {# empty column #}
    </div>  
    {%     endif %}
    {%   endif %}
    <div class="col-sm-6 col-lg-4">
      {{ render_speaker(speaker, loop.index) }}
    </div>
    {% endfor %}
  </div>

  {% set speakers = site.query('/speakers', alt=this.alt).filter(F.keynote != True).filter(F.publish) %}
  <br>
  <br>
  <h1 class="section-title-light">{{ t_speakers }} ({{ speakers.count() }})</h1>
  <div class="row">
    {% if speakers %}
    {% for speaker in speakers %}
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      {{ render_speaker(speaker, loop.index) }}
    </div>
    {% endfor %}
    {% else %}
    <div class="col mx-auto text-center">
      <a href="{{ site.get('/', alt=this.alt).accepted_speakers_link }}" target="blank" class="btn btn-success btn-lg centerer-block text">
        {{ t_accepted_speakers_button }}
      </a>
    </div>
    {% endif %}
  </div>
{% endblock %}
