@import "variable-color";
@import "variable-font";
@import "transitions";
@import "header";
@import "subscribe";


*
	font-family font-principal


body 
	font-family font-principal


a
	color color-white
	text-decoration none

	&:hover 
		colorcolor-white
	

/*Bootstrap classes*/

.container-box 
	margin-left auto
	margin-right auto
	max-width 950px
	/*padding 0 15px*/


.row-no-padding
	[class*="col-"] 
		padding-left 0 !important
		padding-right 0 !important
	


.container-no-padding 
	padding-left 0 !important
	padding-right 0 !important


.row-centered 
	text-align center


.col-centered
	display inline-block
	float none
	/* inline-block space fix */
	margin-right -4px
	/* reset the text-align */
	text-align center
	vertical-align top


/*Design classes*/

.background-content
	overflow hidden
	position relative

	&:after,&:before
		background-position center
		background-repeat no-repeat
		background-size cover
		bottom 0
		content ''
		left 0
		position absolute
		right 0
		top 0
		z-index 0
	&:after
		background-image url(images/plus-background-blue.svg)

	&:before
		background-image url(images/plus-background-white.svg)

.vector-img
	mix-blend-mode color-dodge
	position absolute
	transform:scale(0.7,0.7);
	z-index 0

	&.big-left
		top 350px
		left -250px
	&.big-right
		top 200px
		right -250px
	&.small-left
		top 900px
		left -270px
	&.small-right
		top 900px
		right -270px

input
	outline none !important


@media screen and (max-width: 992px)

	.vector-img
		transform:scale(0.5,0.5);



@media screen and (max-width: 768px)
	.vector-img
		display none