
.subscribe-content
	background #00dbcf
	background -moz-linear-gradient(-45deg, #00dbcf 0%, #6b59ef 100%)
	background -webkit-linear-gradient(-45deg, #00dbcf 0%,#6b59ef 100%)
	background linear-gradient(135deg, #00dbcf 0%,#6b59ef 100%)
	/*background-attachment fixed*/

	.background-content
		padding 255px 0 500px

		&:after
			/*background-attachment fixed*/
			mix-blend-mode color-dodge
			transform rotate(5deg)

		&:before
			/*background-attachment fixed*/
			mix-blend-mode soft-light			
			transform rotate(-10deg)

	.title
		color color-white
		font-size 37px
		font-weight regular
		margin 0 auto 70px
		text-align center

	.form-container
		margin 0 auto
		position relative
		text-align center
		z-index 1

		.validation-message
			font-size 16px
			font-weight medium
			text-align center
			position absolute
			top -35px
			width 100%

			&.success-message
				color color-white
			&.error-message
				color #ffff00


		.form-input
			background color-white
			border none
			border-radius 50px
			color color-text-secondary
			display inline-block
			font-size 14px
			font-weight regular
			height 40px
			margin 0 7px
			padding 0 17px
			width 310px

		.form-btn
			background color-accent
			border-radius 50px
			box-shadow none
			display inline-block
			font-size 17px
			font-weight regular
			height 40px
			margin 0 7px
			text-transform none
			width 133px

/*@media screen and (max-width: 992px)*/

@media screen and (max-width: 768px)
	.subscribe-content
		background-attachment initial

		.background-content
			padding 140px 0 215px

			&:after
				background-attachment initial
				transform rotate(0deg)

			&:before
				background-attachment initial		
				transform rotate(0deg)

		.title
			font-size 27px
			margin 0 auto 52px

		.form-container

			.form-input
				height 35px
				width 55%

			.form-btn
				height 35px
				width 30%




